<h1>Book detail</h1>

<%= link_to "編集", edit_user_path(@user.id) %>

<% @books.each do |book| %>
<div>

  <%= link_to book_path(book.id) do %>
   <%= book.book_name %>
  <% end %>
  <p><%= book.caption %></p>
</div>
<% end %>

<li>
  <%= link_to "マイページ", user_path(current_user.id) %>
</li>