<% if book.errors.any? %>
  <h1>
    <%= book.errors.count %>errors prohibited this obj from being saved:
  </h1>
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

    <div class="col-md-3">
   <h1>User info</h1>
   <%= image_tag current_user.get_profile_image(100,100) %>
 <table class="table table">
   <tbody>
   <tr>
 <th>name</th>
   <th><%= current_user.name %></th>
   </tr>
   <tr>
 <th>introduction</th>
   <th><%= current_user.introduction %></th>
   </tr>
   </tbody>
 </table>
  <div class="row">
    <%= link_to edit_user_path(current_user.id), class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<h1>New book</h1>
<%= form_with model: book do |f| %>
  <p>Title</p>
    <%= f.text_field :title, style: "width:100%" %>
  <p>Opinion</p>
    <%= f.text_area :body, style: "width:100%" %>
  <p><%= f.submit 'Create Book', class: "btn btn-success" %></p>
<% end %>
 </div>